
/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #2d87bb;
}

p {
  font-size: 18px;
}

/* Scrambled word display */
#scrambled-word {
  font-size: 24px;
  font-weight: bold;
  color: #bb2d7d;
  margin-bottom: 20px;
}

/* Input field */
#user-input {
  font-size: 18px;
  padding: 10px;
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Button */
button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #2d87bb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1c5a80;
}

/* Result message */
#result {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  color: #333;
}

/* How to Play section */
ol {
  text-align: left;
  margin: 20px auto;
  max-width: 600px;
  font-size: 18px;
}

li {
  margin-bottom: 10px;
}

/* CSS to center the video and make it responsive */
.video-container {
  max-width: 800px; /* Set maximum width */
  margin: 0 auto; /* Center the video */
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.video-container video {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Style the custom video controls container */
.custom-video-controls {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  pointer-events: auto;
}

.play-pause-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1382cc;
  color: white;
  border: none;
  border-radius: 5px;
  z-index: 10;
}

.play-pause-btn:hover {
  background-color: #1382cc;
}
