
/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #2d87bb;
}

p {
  font-size: 18px;
}

/* Scrambled word display */
#scrambled-word {
  font-size: 24px;
  font-weight: bold;
  color: #bb2d7d;
  margin-bottom: 20px;
}

/* Input field */
#user-input {
  font-size: 18px;
  padding: 10px;
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Button */
button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #2d87bb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1c5a80;
}

/* Result message */
#result {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  color: #333;
}

/* How to Play section */
ol {
  text-align: left;
  margin: 20px auto;
  max-width: 600px;
  font-size: 18px;
}

li {
  margin-bottom: 10px;
}

.video-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#intro-video {
  width: 100%;
  border: 2px solid #333;
  /* padding-top: 2px; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: fill; /* Ensures the video covers the entire area */
  }

.custom-video-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#play-pause-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#play-pause-btn:hover {
  background-color: #45a049;
}

/* Media Queries */
@media (max-width: 768px) {
  #intro-video {
    width: 100%;
  }
}
